<!DOCTYPE html>
<html dir="ltr">
    <head>
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta charset="UTF-8">

		<link rel="stylesheet" href="/common/bootstrap/css/bootstrap.min.css">

		<link rel="stylesheet" href="/common/bootstrap/css/bootstrap-theme.min.css">

		<script type="text/javascript" src="/common/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="/common/sugar.min.js"></script>
        <script type="text/javascript" src="/common/sugar.sv.js"></script>

		<script src="/common/bootstrap/js/bootstrap.min.js"></script>

        <title></title>
    </head>
    <body>
        <div id="pagebody" class="container">
            {% block content %}{%  endblock %}
        </div>
    </body>
</html>

