{% extends "base.html" %}
{%  block content %}

<ul>
<table>
    <thead><tr><td>article</td><td>num coms</td><td>latest comment</td></tr></thead>
  {% for f in comments %}
    <tr>
      <td><a href="/{{ f.article }}#comments">{{ f.article_title }} </a></td>
      <td>({{ f.num_comments }}) </td>
      <td><script>
        var d = Date.create( {{ f.timestamp }} * 1000 );
        document.write(d.relative());
      </script></td>
    </tr>
      <tr>
      <td colspan="3" id="content-{{ loop.index }}">
         {{ f.author }}: {{ f.content }}
      </td>
      </tr>
  {% endfor %}
</table>

</ul>


{%  endblock %}

