{% extends "base.html" %}
{%  block content %}

    <script>
        var servertime_diff = 0;
        var comments_data = [];

        $(document).ready(function() {

        });

        function relative_custom(value, unit, ms, loc) {
              if(ms.abs() > (12).hour() && value == 1 && unit == 4) {
                return 'i går';
              }
              if (ms.abs() < (1).minute()) {
                return 'nyss';
              }
        }

        function getData(str, elem) {
            $.ajax( {url: 'comment/'+str, cache:false}).done(function(data, stat, jqxhr){
                var localtime = Date.now();
                var servtime = Date.parse(jqxhr.getResponseHeader('Date'));
                servertime_diff = localtime - servtime;
                comments_data = data.filter(function(d){ return d.author && d.content && d.article == str });

                if (comments_data.length) {
                    rerender(comments_data, elem);
                }
            }).fail(function(x, str2, y){
                console.log('ajax error: '+y+ " "+str);
                if (x.status == 404) {

                }

            })
        }

        //just update the html (for time lapsed)
        function rerender(data, elem) {
            elem.html('');
            var el = elem;
            data.forEach(function(val) {
                if (val.author) {
                    el.append('<div class="comment-wrap"><div class="col-sm-offset-1 comment-author"><span class="thick">'+val.author+'</span> skrev '+
                            Date.create(Math.min(Date.now(), (val.timestamp*1000)+servertime_diff)).relative(relative_custom, 'sv')+'</div><div class="col-sm-offset-2 comment-content">'+
                             val.content+' </div></div>');
                }
            });
        }

    </script>

<ul>
<table>
    <thead><tr><td>article</td><td>num coms</td><td>latest comment</td></tr></thead>
  {% for f in files %}
    <tr>
      <td><a href="comment/{{ f.name }}">{{ f.name }} </a></td>
      <td>({{ f.num_comments }}) </td>
      <td><script>
        var d = Date.create( {{ f.latest }} * 1000 );
        document.write(d.relative());
      </script></td>
    </tr>
      {% if loop.index < 5 %}
          <tr>
          <td colspan="3" id="content-{{ loop.index }}">
              <script>
                  var elem = $('#content-{{ loop.index }}');
                  elem.html("test {{ loop.index }}");
                  getData('{{ f.name }}', elem);
              </script>
          </td>
          </tr>
      {% endif %}
  {% endfor %}
</table>

</ul>


{%  endblock %}

